<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HarryPotter.Database.Migrations.Properties.Settings.storedb_developmentConnectionString"
            connectionString="Data Source=.;Initial Catalog=storedb_development;Persist Security Info=True;User ID=tb;Password=tb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>